<section class="drawer" id="drawer-tour-des-jardins-comment-<%= garden_event_id %>" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="d-flex justify-content-between">
        <div class="drawer__title">
          <div>
            <h2><%= garden_event_description&.capitalize %></h2>
          </div>
          <div class="drawer-title-second-line"><%= garden_event_details&.capitalize %></div>
        </div>
        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="drawer__content">
      <h4 class="pt-3">Commentaire</h4>
      <% if garden_event_comment.nil? || garden_event_comment.empty? %>
        <p>Pas de commentaire</p>
      <% else %>
        <p>
          <%= garden_event_comment&.capitalize %>
        <p>
      <% end %>
    </div>
  </div>
</section>
