// Define variables for your color scheme

// For example:
$raisin: #242331;
$green: #276259;
$olive: #A1BD7F;
$orange: #E85F5C;
$red: #B23A48;
$lightgrey: #C5CBD3;
$greensheen: #89B6A5;
$teagreen: #CAE7B9;
$orangeyellow: #FED766;
$celadon: #98CCC9;


// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #276259;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

.raisin {
  color: $raisin;
}
.green {
  color: $green;
}
.olive {
  color: $olive;
}
.orange {
  color: $orange;
}
.red {
  color: $red;
}
.lightgrey {
  color: $lightgrey !important;
}
.white {
  color: white;
  &:hover {
    color: white;
  }
}
.celadon {
  color: $celadon;
}
.greensheen {
  color: $greensheen;
}
.teagreen {
  color: $teagreen;
}
.orangeyellow {
  color: $orangeyellow;
}

.bgcolor-raisin {
  background-color: $raisin;
}
.bgcolor-green {
  background-color: $green;
}
.bgcolor-olive {
  background-color: $olive;
}
.bgcolor-orange {
  background-color: $orange;
}
.bgcolor-red {
  background-color: $red;
}
.bgcolor-lightgrey {
  background-color: $lightgrey;
}
.bgcolor-celadon {
  background-color: $celadon;
}
.bgcolor-white {
  background-color: white;
}
.bgcolor-greensheen {
  background-color: $greensheen;
}
.bgcolor-teagreen {
  background-color: $teagreen;
}
.bgcolor-orangeyellow {
  background-color: $orangeyellow;
}

