.dashboard-calendar-event {
  overflow: scroll;
}

#params-start-date-input {
  width: 20px;
}

.simple-calendar .today {
  background: white;
  border-top: 3px solid $olive;
  border-bottom: 3px solid $olive;
  border-left: 2px solid $olive;
  border-right: 2px solid $olive;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: none;
}

.simple-calendar table {
  margin-top: 90px;
  margin-bottom: 30px;
}

.day {
  text-align: right;
}

.drawer-dated-admin-date {
  color: #A1BD7F;
  font-size: 14px;
  text-align: right;
}

.border-top-lightgrey {
  border-top: 1px solid $lightgrey;
}

.simple-calendar th {
  text-align: center;
  font-weight: 100;
}

.simple-calendar td {
  padding: 0 !important;
  width: 14% !important;
  overflow-wrap: anywhere;
}

.simple-calendar .day {
  min-height: 160px;
}

.calendar-user-presence-periods {
  padding-bottom: 8px;
}

.calendar-heading {
  z-index: 2;
  text-align: right;
  color: $green;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  padding-right: 16px;
  right: 0;
  width: 100%;
  background: white;
  padding-bottom: 16px;
  padding-top: 16px;
  margin-top: -24px;

  &.scrolled-page-header {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2) !important;
  }

  &.non-scrolled-page-header {
    box-shadow: none !important;
  }
}

.calendar-previous, .calendar-next {
  padding: 12px 16px;
  color: white;
  margin: 0;
  background: $green;
}

.calendar-previous {
  border-radius: 0 0 0 24px;
}

.calendar-next {
  border-radius: 0 24px 0 0;
}

.calendar-title {
  padding: 10px 20px;
  height: 40px;
  margin: 0 -1px;
  border: 1px solid $green;
  font-weight: 700;
}

.simple-calendar {
  max-width: 100% !important;
}

// MOBILE
@media(max-width:812px) {
  .border-top-lightgrey {
    border-top: 1px solid $lightgrey;
  }

  .calendar-heading {
    z-index: 2;
    text-align: right;
    color: #276259;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    padding-right: 8%;
    right: -10px;
    width: 104%;
    background: white;
    padding-bottom: 12px;
    padding-top: 16px;
    margin-top: -24px;
  }

  .calendar-title {
    padding: 8px 12px;
    height: 32px;
    margin: 0 -1px;
    border: 1px solid #276259;
    font-weight: 700;
    font-size: 12px;
  }

  .calendar-previous, .calendar-next {
    padding: 10px 14px;
    color: white;
    margin: 0;
    background: #276259;
    font-size: 12px;
  }

  .simple-calendar table {
    margin-top: 64px;
    margin-bottom: 1rem;
  }

  .simple-calendar .day {
    min-height: 80px;
  }
}





