.crop-plan-months {
  border-bottom: 2px solid $lightgrey;
  padding-bottom: 12px;
}

.crop-plan-title-txt {
  padding: 0 12px;
  text-align: center;
  border-right: 1px solid $lightgrey;
  width: 16%;
}

.crop-plan-title-txt:last-child{
    border: 0;
}

.crop-plan-garden-names {
  a {
    color: $raisin !important;
  }

  li {
    line-height: 30px;
    border-bottom: 1px solid $lightgrey;
  }
}


.crop-plan-right-column {
  width: 84%;
}

.crop-plan-left-column {
  width: 16%;
}

[data-toggle="collapse"] .fa:before {
  content: "\f078";
  font-size: 12px;
  padding-left: 12px;
  color: $raisin;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f054";
  font-size: 12px;
  padding-left: 5px;
  color: $raisin;
}

.vertical-line-today {
  height: 104%;
  border-left: 2px solid $green;
}

.crop-plan-line-planted {
  position: relative;
  display: flex;
  padding: 0 4px;
  height: 24px;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
}

.crop-plan-line-harvesting {
  position: relative;
  line-height: 64px;
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  padding: 0 8px;
  height: 24px;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
}

@media(max-width:568px) {
  .crop-plan-left-column {
    font-size: 10px
  }

  .crop-plan-title-txt {
    padding: 0 2px;
    font-size: 10px;
  }

  .crop-plan-line-planted, .crop-plan-line-harvesting {
    font-size: 10px;
  }
}

@media(max-width:812px) {
  .crop-plan-title-txt {
    padding: 0 2px;
    font-size: 10px;
  }

  .crop-plan-line-planted, .crop-plan-line-harvesting {
    font-size: 12px;
  }
}
