<div class="container mt-4 custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header">
    <h2><span class="fs-36-24 mr-2"><%= @user.emoji %></span> <%= @user.displayed_name %></h2>
  </div>

  <div class="page-content">
  </div>
  <% if @user.worker %>
    <%= render "worker_show_page", worker: @user %>

  <% else %>
    <%= render "client_show_page", worker: @user %>
  <% end %>
</div>
