<div class="container custom-container" style="overflow: auto;">
  <div class="page-header non-scrolled-page-header scrollable-page-header d-block">
    <h2 class="mb-0">Créer un bon de livraison</h2>
  </div>

  <div class="page-content">
  </div>
  <div class="container">
    <%= render 'form', farm: @farm, outlet: @outlet, sale: @sale, delivery_slip: @delivery_slip, url: farm_pointsdevente_sale_livraisons_path(@farm.id, @outlet.id, @sale.id) %>
  </div>
</div>
