<div class="container custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header d-flex justify-content-between">
    <h2>Modifier le point de vente</h2>
  </div>
  <div class="page-content">
  </div>
  <div class="container">
    <%= render 'form', farm: @farm, outlet: @outlet, url: farm_pointsdevente_path(@farm.id) %>
  </div>
</div>

