<%= image_tag "legumes.jpg", alt: "banner", class: "banner" %>
<div class="container">
  informations sur la ferme
  <%= image_tag "charlie.png", style: "border-radius: 50%;
    height: 150px; width: 150px;" %>
  <a href="https://www.facebook.com/Les-Jardins-D%C3%A9taill%C3%A9s-779006172440428/"><i class="fab fa-facebook"></i></a>
  <a href="https://www.facebook.com/Les-Jardins-D%C3%A9taill%C3%A9s-779006172440428/"><i class="fas fa-envelope round-txt-button"></i></a>

</div>
