<!-- Modal create event (garden)-->
<div class="modal fade" id="modal-new-garden-event" tabindex="-1" aria-labelledby="modal-new-garden-eventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modal-new-garden-eventLabel">Créer une tâche de jardin</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <%= render "pages/dashboard_forms/form_new_garden_event", farm: farm, event: event %>
        </div>
      </div>
    </div>
  </div>
</div>
