<div class="scrolltop-wrap">
  <div id="link-to-calendar-heading">
    <%= link_to "#" do %>
      <div class="round-button lightgrey m-1">
        <i class="fas fa-chevron-up white round-txt-button"></i>
        <path d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
      </div>
    <% end %>
  </div>
  <div id="link-to-decharge-mentale-anchor">
    <%= link_to :anchor => "decharge-mentale-anchor" do %>
      <div class="round-button orange m-1">
        <%= image_tag "brain.png", class: "round-img-button" %>
        <path d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
      </div>
    <% end %>
  </div>
  <div id="link-to-tour-des-jardins-anchor">
    <%= link_to :anchor => "tour-des-jardins-anchor" do %>
      <div class="round-button red m-1">
        <i class="fas fa-eye white round-txt-button"></i>
        <path d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
      </div>
    <% end %>
  </div>
</div>
