.avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(197,203,211, 0.4);
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(197,203,211, 0.4);
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(197,203,211, 0.4);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(197,203,211, 0.4);
  border: white 1px solid;
}

.delete-user {
  position: relative;
  top: -38px;
  color: $raisin;
  left: 20px;
  background: $red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 12px;
}

.selected {
  &.green {
    background-color: $green;
    color: white;
  }
}

.txt-avatar {
  font-weight: 500;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding-top: 3px;
  box-shadow: 2px 2px 2px rgba(197,203,211, 0.4);

  &.raisin {
    background: $raisin;
  }

  &.green {
    background: $green;
  }

  &.olive {
    background: $olive;
  }
  &.red {
    background: $red;
  }
  &.orange {
    background: $orange;
  }
  &.lightgrey {
    background: $lightgrey;
    color: $raisin;
  }
}

.sm-txt-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(197,203,211, 0.4);

  &.raisin {
    background: $raisin;
  }

  &.green {
    background: $green;
  }

  &.olive {
    background: $olive;
  }
  &.red {
    background: $red;
  }
  &.orange {
    background: $orange;
  }
  &.lightgrey {
    background: $lightgrey;
    color: $raisin;
  }
}

.vsm-txt-avatar {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  text-align: center;

  &.raisin {
    background: $raisin;
  }

  &.green {
    background: $green;
  }

  &.olive {
    background: $olive;
  }
  &.red {
    background: $red;
  }
  &.orange {
    background: $orange;
  }
  &.lightgrey {
    background: $lightgrey;
    color: $raisin;
  }
}

@media(max-width:767px) {
  .txt-avatar {
    width: 20px;
    height: 20px;
    padding-top: 1px;
    font-size: 12px;
  }

  .delete-user {
    position: relative;
    top: -24px;
    color: $raisin;
    left: 14px;
    background: $red;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    font-size: 8px;
    line-height: 10px;
  }
}
