.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.txt-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding-top: 4px;

  &.raisin {
    background: $raisin;
  }

  &.green {
    background: $green;
  }

  &.olive {
    background: $olive;
  }
  &.red {
    background: $red;
  }
  &.orange {
    background: $orange;
  }
  &.lightgrey {
    background: $lightgrey;
  }
}

.sm-txt-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  text-align: center;

  &.raisin {
    background: $raisin;
  }

  &.green {
    background: $green;
  }

  &.olive {
    background: $olive;
  }
  &.red {
    background: $red;
  }
  &.orange {
    background: $orange;
  }
  &.lightgrey {
    background: $lightgrey;
    color: $raisin;
  }
}
