.simple-card {
  padding: 9px 20px;
  box-shadow: 1px 1px 4px 1px $lightgrey !important;
  border-radius: 8px;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 200px;
  margin: 16px 16px;
}

.dashboard-info-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 200px;
}

.product-card-fixed-color {
  display: flex;
  flex-direction: column;
  height: auto;
  &.green {
    box-shadow: 0px 2px 4px 0px $green;
  }
  &.orange {
    box-shadow: 0px 2px 4px 0px $orange;
  }
  &.red {
    box-shadow: 0px 2px 4px 0px $red;
  }
}

.dashboard-crop-plan-line-card {
  display: flex;
  flex-direction: column;
  height: auto;
  &.green {
    box-shadow: 0px 2px 4px 0px $green;
  }
  &.orange {
    box-shadow: 0px 2px 4px 0px $orange;
  }
  &.red {
    box-shadow: 0px 2px 4px 0px $red;
  }
}

.card-colored-top-part {
  height: 100px;
  width: 200px;
  border-radius: 0px 0px 24px 0px;
}

.card-colored-top-part-fixed-color {
  height: 100px;
  width: 100%;
  border-radius: 0px 0px 24px 0px;
  &.green {
    background: $green;
  }
  &.orange {
    background: $orange;
  }
  &.red {
    background: $red;
  }
}

.card-top-part-text {
  display: flex;
  color: white;
  padding: 0 24px 8px 0;
  height: 100px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.card-bottom-part-text {
  padding: 8px 12px;
}

.scrollable-card {
  height: 400px;
  overflow: scroll;
}

.card-main-info-top-right {
  text-align: right;
  padding-right: 16px;
}

.card-bottom-right-triangle {
  display: flex;
  justify-content: flex-end;
  color: white !important;
  padding: 24px 8px;
  width: 48px;
  height: 48px;
  &.green {
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, $green 50%, $green 100%);
  }
  &.orange {
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, $orange 50%, $orange 100%);
  }
  &.red {
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, $red 50%, $red 100%);
  }
}

.card-product-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.card-bottom-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}


.dashboard-crop-plan-line-card {
  .card-top-part-text {
    width: 100%;
    height: 60px;
  }

  .card-colored-top-part-fixed-color {
    height: 60px;
  }
}

.card-bottom-section-with-icon {
  position: relative;
  bottom: 0;
}

// MOBILE
@media(max-width:812px) {
  .scrollable-card {
    height: auto;
  }

  .product-card {
    height: fit-content;
    width: 100%;
  }

  .card-colored-top-part {
    height: 56px;
    width: 100%;
  }

  .card-bottom-part {
    height: fit-content;
  }

  .card-top-part-text {
    padding: 0 24px 8px 0;
    height: 56px;
    width: 100%;
  }
}
