.search-form {
  .search-input {
    border: none;
    display: flex;
    justify-content: flex-end;
  }
  .form-control {
    display: flex;
    width: 24%;
    height: calc(1.5em + 0.75rem + 0px) !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
  }

  .search-button {
    margin: 0;
    padding: 10px;
  }
}

#product_color {
  border-bottom: none !important;
  padding-top: 0;
  padding-bottom: 12px;
}

.product_color {
  display: flex;

  input {
    width: 76px;
  }

  .form-control.is-valid {
    background-image: none;
  }
}

.event-type-select {
  height: fit-content;
  display: flex;
  place-self: flex-end;
  margin-bottom: 8px;
  margin-left: 8px;
}


@media(max-width:812px) {
  .search-form {
    .form-control {
      width: 56%;
      height: calc(1em + 0.75rem + 0px) !important;
    }

    .search-button {
      padding: 8px;
    }
  }

  .start-time {
    width: fit-content;
    display: flex;
  }

  #modal-new-dated-admin-event {
    .modal-body {
      padding: 4px !important;
    }
  }
}


