.navbar {
  justify-content: space-between;
  position: absolute;
  padding-top: 12px;
  max-width: 61rem;
  max-width: var(--container);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  height: 40px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: absolute;
}

#sidebar {
  width: 72px;
  min-height: 100vh;
  color: white;
  background: $green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 0;
  position: fixed;
  z-index: 100;
}

.logout-button-link {
  padding: 0;
  &:hover {
    background: $green;
  }
}

.sidebar-icon-item {
  color: white;
  font-size: 24px;
}

.sidebar-item {
  text-align: center;
  padding: 12px 0;
  img {
    padding-bottom: 4px;
    height: 28px;
  }
}

.sidebar-items {
  margin-top: 10vh;
}

#bottom-navbar {
  background-color: $green;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  border-radius: 24px 24px 0 0;
  z-index: 100;
  img {
    height: 24px;
  }
  a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
}


#bottom-navbar

// /* Change the color of links on hover */
// #bottom-navbar a:hover {
//   background-color: $olive;
// }

/* Add a color to the active/current link */
// #bottom-navbar a.active {
//   background-color: $olive;
// }

.bottom-navbar-img-item {
  height: 20px;
}
