.page-scroll-buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}


html {
  scroll-behavior: smooth;
}

.scrolltop-wrap {
  display: flex;
  flex-direction: column;
  z-index: 10;
  $size: 3rem;
  $offsetBottom: 12rem;
  $offsetHorizontal: 0rem;
  $scrollToRevealDistance: 1rem; // scroll offset to reveal scroll-to-top link
  $color: #007bff;
  box-sizing: border-box;
  position: absolute;
  top: $scrollToRevealDistance;
  right: $offsetHorizontal;
  bottom: 0;
  pointer-events: none;
  backface-visibility: hidden;
  // prevent extra page height if content is smaller than viewport
  // Firefox only
  @supports (-moz-appearance: meterbar) {
    clip: rect(0, $size, auto, 0);
  }
  #link-to-calendar-heading {
    $offset: - ($size + $offsetBottom); // pull up + add a small bottom space
    position: fixed; // fallback
    position: sticky;
    top: $offset;
    width: $size;
    height: $size;
    transform: translateY(100vh); // push to bottom from top (when stuck)
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden;
    svg {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      path {
        transition: all 0.1s;
      }
    }
    #scrolltop-arrow {
      transform: scale(0.66);
      transform-origin: center;
    }
  }
  #link-to-decharge-mentale-anchor {
    $offset: - ($size + $offsetBottom - 3rem); // pull up + add a small bottom space
    position: fixed; // fallback
    position: sticky;
    top: $offset;
    width: $size;
    height: $size;
    transform: translateY(100vh); // push to bottom from top (when stuck)
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden;
    svg {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      path {
        transition: all 0.1s;
      }
    }
  }

  #link-to-tour-des-jardins-anchor {
    $offset: - ($size + $offsetBottom - 6rem); // pull up + add a small bottom space
    position: fixed; // fallback
    position: sticky;
    top: $offset;
    width: $size;
    height: $size;
    transform: translateY(100vh); // push to bottom from top (when stuck)
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden;
    svg {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      path {
        transition: all 0.1s;
      }
    }
  }

  // POUR AJOUTER UN BOUTON, IL SUFFIT D'AVOIR UN NOUVEL ID ET DE RETIRER 3rem À $OFFSET (CF. LIGNE 89)

  @media print {
    display: none !important;
  }

  @media(min-width:812px) {
    display: none !important;
  }
}



