.sales-line-bed-choice {
  &:hover {
    background: $lightgrey;
    cursor: pointer;
    color: $raisin !important;
  }
  a {
    &:hover {
      color: $raisin !important;
    }
  }
}

.bed-list {
  .select2-search--inline {
    display: none;
  }
}
