.table th, .table thead th {
    border-bottom: 0px solid #dee2e6;
  }


.hiddenRow {
  border-top: none !important;
  padding: 0 20px !important;
}

.price-column {
  width: 80px;
}

.quantity-column {
  width: 52px;
}

.total-line, .total-lines {
  td {
    border-top: none;
  }
}

.total-line {
  td.total-separation-line {
    border-top: 2px solid $lightgrey;
  }
}


.new-sales-line {
  border-top: 2px solid $olive;
  input {
    border-bottom: none !important;
  }
}
