.custom-container {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 87px;
}

h1 {
  font-family: $headers-font;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: $green;
  margin-bottom: 0;
}

h2 {
  font-family: $headers-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $green;
}

h3 {
  font-family: $headers-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: $olive;
}

h4 {
  font-family: $headers-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: $green;
}

p {
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  color: $raisin;
  margin-bottom: 0;
}

a {
  color: $orange;
  &:hover {
  color: $orange;
  text-decoration: none;
  }
}

input {
  border: none !important;
  border-bottom: $green solid 1px !important;
  color: $raisin;
  &:focus {
    outline: none !important;
  }
}

::placeholder {
  color: $lightgrey;
}


input {
  &.search-input {
    border: $green solid 1px !important;
    color: $raisin;
    outline: none !important;
    padding-left: 16px;
    height: 36px;
  }
}

.small-infos {
  font-size: 14px;
  color: $olive;
  &:hover {
    color: $olive;
  }
}

.w-48-desktop {
  width: 48%
}

.mobile_only {
  display: none;
}

@media screen and (max-width: 812px) {
  .mobile_only {
    display: block;
  }
   .desktop_only {
     display: none !important;
   }
}

// VERSION MOBILE
@media(max-width:812px) {
  h1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: $green;
    margin-bottom: 0;
  }

  h2 {
    font-family: $headers-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $green;
  }

  h3 {
    font-family: $headers-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: $olive;
  }

  h4 {
    font-family: $headers-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: $green;
  }

  p {
    font-family: Red Hat Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;
    color: $raisin;
    margin-bottom: 0;
  }

  ::placeholder {
    font-size: 12px;
  }

  input {
    &.search-input {
      border: $green solid 1px !important;
      color: $raisin;
      outline: none !important;
      padding-left: 12px;
      height: 28px;
    }
  }

  .small-infos {
    font-size: 8px;
    color: $olive;
    &:hover {
      color: $olive;
    }
  }

  .custom-container {
    margin-top: 24px;
    margin-bottom: 80px;
    padding-left: 15px;
  }

  .w-48-desktop {
    width: 100%
  }
}

