html {
  // scroll-behavior: smooth;
  overflow: auto !important;
}


.green-hover {
  color: $green;
  &:hover {
    color: $green;
  }
}

.custom-container {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 72px;
  padding-right: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

.container {
  max-width: 2000px !important;
}

.fit-content {
  width: fit-content;
}

.br-none {
  border-radius: 0px !important;
}

h1 {
  font-family: $headers-font;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: $green;
  margin-bottom: 0;
}

h2 {
  font-family: $headers-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $green;
}

h3 {
  font-family: $headers-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: $olive;
}

h4 {
  font-family: $headers-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: $green;
}

h5 {
  font-family: $headers-font;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: $green;
  font-size: 16px;
  font-style: italic;
  padding-left: 12px;
}

p {
  font-family: $headers-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  color: $raisin;
  margin-bottom: 0;
}

a {
  color: $orange;
  &:hover {
  color: $orange;
  text-decoration: none;
  }
}

input {
  border: none !important;
  border-bottom: $green solid 1px !important;
  color: $raisin;
  &:focus {
    outline: none !important;
  }
}

textarea {
  border: none !important;
  border-bottom: $green solid 1px !important;
  color: $raisin;
  &:focus {
    outline: none !important;
  }
}

::placeholder {
  color: $lightgrey;
}


input {
  &.search-input {
    border: $green solid 1px !important;
    color: $raisin;
    outline: none !important;
    padding-left: 16px;
    height: 36px;
  }
}

.small-infos {
  &.olive {
    font-size: 14px;
    color: $olive;
    &:hover {
      color: $olive;
    }
  }

  &.lightgrey {
    font-size: 14px;
    color: $lightgrey;
    &:hover {
      color: $lightgrey;
    }
  }
}

.text-white-important {
  color: white !important;
}

.pt-6 {
  padding-top: 6px;
}

.mt-20 {
  margin-top: 20px;
}

.pr-16 {
  padding-right: 16px;
}

.ml-minus-24 + .ml-minus-24 {
  margin-left: -24px;
}

.ml-minus-8 + .ml-minus-8 {
  margin-left: -8px;
}

.ml-minus-4 + .ml-minus-4 {
  margin-left: -4px;
}

.pr-38 {
  padding-right: 38px;
}

.fs-36-24 {
  font-size: 36px;
}

.w-90 {
  width: 90%;
}

.fs-8 {
  font-size: 8px;
}

.fs-24-16 {
  font-size: 24px;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.mobile_only {
  display: none;
}

.w-48-desktop {
  width: 48%;
}

.w-47-desktop {
  width: 47%;
}

.w-50-desktop {
  width: 50%;
}

.pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: auto;
}

.margin-0-auto {
  margin: 0 auto;
}

.margin-auto-0 {
  margin: auto 0;
}

.box-shadow-lightgrey {
  box-shadow: 1px 1px 4px 1px $lightgrey !important;
}

  label {
    font-size: 16px;
    color: $green;
  }

// VERSION MOBILE
@media(max-width:812px) {
  .modal-new-admin-header {
    padding-left: 4px;
  }

  .mobile_only {
    display: block;
  }
  .desktop_only {
   display: none !important;
  }

  h1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: $green;
    margin-bottom: 0;
  }

  h2 {
    font-family: $headers-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $green;
  }

  h3 {
    font-family: $headers-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: $olive;
  }

  h4 {
    font-family: $headers-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: $green;
  }

  h5 {
    font-size: 12px;
  }

  p {
    font-family: $headers-font;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;
    color: $raisin;
    margin-bottom: 0;
  }

  ::placeholder {
    font-size: 12px;
  }

  input {
    &.search-input {
      border: $green solid 1px !important;
      color: $raisin;
      outline: none !important;
      padding-left: 12px;
      height: 28px;
    }
  }

  .small-infos {
    &.olive {
      font-size: 8px;
      color: $olive;
      &:hover {
        color: $olive;
      }
    }

    &.lightgrey {
      font-size: 8px;
      color: $lightgrey;
      &:hover {
        color: $lightgrey;
      }
    }
  }

  .custom-container {
    margin-top: 24px;
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .w-48-desktop {
    width: 100%
  }

  .w-50-desktop {
    width: 100%;
  }

  .w-47-desktop {
    width: 100%;
  }

  .fs-36-24 {
    font-size: 24px;
  }

  .fs-24-16 {
    font-size: 16px;
  }

  .pr-38 {
    padding-right: 12px;
  }

  .pt-6 {
    padding-top: 0;
  }
}

