<p>Bonjour <%= @resource.first_name %> !</p>

<p>Vous avez demandé un lien pour modifier votre mot de passe. Vous pouvez le faire en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne sera modifié que lorsque vous en aurez créé un nouveau.</p>

<p>À tout de suite !</p>

<p>Les Jardins détaillés</p>
