<div class="container mt-4">
  <div class="m-4 product-card">
    <div class="card-colored-top-part">
      <div class="card-top-part-text"><%= @products[0].name.capitalize %></div>
    </div>
    <%#= cl_image_tag @products[0].photo.key, class: "card-product-img" %>
    <div class="card-bottom-part">
      <div class="card-bottom-part-text">
        <div class="card-main-info-top-right">122 €</div>
        <p class="mt-2">Ceci est un bloc de texte basique, blabla bla blabla</p>
      </div>
      <div class="d-flex justify-content-end">
        <div class="card-bottom-right-triangle"><i class="fas fa-plus"></i></div>
      </div>
    </div>
  </div>
</div>
