<div class="container custom-container" style="overflow: auto;">
  <div class="page-header non-scrolled-page-header scrollable-page-header d-block">
    <h2 class="mb-0">Créer un produit</h2>
  </div>

  <div class="page-content">
  </div>
  <div class="container">
    <%= render 'form', farm: @farm, product: @product, product_groups: @product_groups, url: farm_produits_path(@farm.id) %>
  </div>
</div>
