<div class="container custom-container" style="overflow: auto;">
  <div class="page-header non-scrolled-page-header scrollable-page-header d-block">
    <h2 class="mb-0">Créer une vente pour <%= @outlet.full_name %></h2>
  </div>

  <div class="page-content">
  </div>
  <div class="container">
    <%= render 'form', farm: @farm, sale: @sale, outlet: @outlet, url: farm_pointsdevente_sales_path(@farm.id, @outlet.id, @sale.id) %>
  </div>
</div>
