<div class="container mt-4 custom-container">
  <h2>Vente <%= @sale.outlet.full_name %> du <%= @sale.date.to_date.strftime('%-d') %> <%= I18n.t(:month_names)[@sale.date.to_date.strftime('%b').to_sym] %></h2>
</div>
